.container {
  height: 100vh !important;
  width: 75%;
  background-color: #c7dac7;
}
.habit-btn {
  margin: 10px;
}
.habit-input {
  width: 50%;
}

img {
  height: 25px;
  cursor: pointer;
}

.title-wrapper {
  justify-content: space-between;
  width: 50%;
}
.back-btn {
  width: 50%;
  cursor: pointer;
  color: blue;
}
